{% extends 'base/base.html' %}

{% load static %}

{% block cssjs %}

    <script type="text/javascript" src="{% static 'main/js/toucher.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>

    <link rel="stylesheet" type="text/css" media="screen and (max-width:420px)" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" type="text/css" media="screen and (min-width:420px) and (max-width:3000px)"
          href="{% static 'main/css/main500.css' %}"/>

{% endblock cssjs %}
{% block base %}
    <form action="{% url 'jdsj:change' verif %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ register_form.pwd1.label }}">
                {{ register_form.pwd1.label }}
                {{ register_form.pwd1 }}
            </label>
        </div>
        <div class="form-group">
            <label for="{{ register_form.pwd2.label }}">
                {{ register_form.pwd2.label }}
                {{ register_form.pwd2 }}
            </label>
        </div>
        <span>{{ message }}</span>
        <button type="submit" class="btn btn-lg btn-primary">点击修改</button>
        <div class="bottom-dis"></div>

</form>
{% endblock base %}